body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  margin: 0 2rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin-bottom: 2rem;
}

.input-group {
  margin-bottom: 0.5rem;
}

#illustration {
  max-width: 400px;
}

#progress-container {
  background-color: #ccc;
  border-radius: 10px;
  height: 15px;
  overflow: hidden;
  margin-bottom: 15px;
  min-width: 250px;
  width: 100%;
}

#progressbar {
  height: 100%;
  width: 0%;
  background-color: #f60;
}
